.cus_all_tb{
	line-height: 20px;
	font-size: 13px;
	background-color: #fff;
}

.cus_all_tb td{
	padding: 5px 0px;
	border-left: 1px white solid;
	border-right: 1px white solid;
	border-top: 1px white solid;
	height: 30px;
	width: 450px;
}

.cus_all_tl b{
	color: #122B40;
}

#cus_all_dialog{
	width: 72%;
}

#cus_all_add{
	height: 550px;
	margin-top: 30px;
	margin-left: 50px;
}

#cus_all_alter{
	height: 550px;
	margin-top: 30px;
	margin-left: 50px;
}

#cus_all_delete{
	width: 50%;
	height: 550px;
	margin-top: 100px;
	margin-left: 320px;
}


.cus_chance_tb{
	line-height: 20px;
	font-size: 13px;
	background-color: #fff;
}

.cus_chance_tb td{
	padding: 5px 0px;
	border-left: 1px white solid;
	border-right: 1px white solid;
	border-top: 1px white solid;
	height: 30px;
	width: 450px;
}

.cus_chance_tl b{
	color: #122B40;
}

#cus_chance_dialog{
	width: 72%;
}

#cus_chance_add{
	height: 550px;
	margin-top: 30px;
	margin-left: 50px;
}

#cus_chance_alter{
	height: 550px;
	margin-top: 30px;
	margin-left: 50px;
}

#cus_chance_delete{
	width: 50%;
	height: 550px;
	margin-top: 100px;
	margin-left: 320px;
}

