<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.clothes.modules.address.mapper.AddressMapper">

    <update id="updateAddress" >
        UPDATE address SET is_default = #{isDefault} WHERE id = #{id}
    </update>

    <update id="updateAllColumnDefault">
        UPDATE address SET is_default = 0 WHERE open_id = #{openId}
    </update>
</mapper>
