<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.clothes.modules.auth.mapper.UserMapper">

    <select id="getCount" parameterType="String" resultType="Integer">
        SELECT COUNT(*) FROM user WHERE open_id = #{openId}
    </select>

    <select id="selectVip" resultType="com.clothes.modules.auth.entity.UserEntity">
        SELECT vip FROM user WHERE open_id = #{Openid}
    </select>

    <update id="updateVip">
        UPDATE user SET vip = 1,sName = #{sName} , sPhone = #{sPhone} WHERE open_id =#{openId}
    </update>
</mapper>
