<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.clothes.modules.order.mapper.OrderMapper">

    <resultMap type="com.clothes.modules.order.entity.OrderEntity" id="orderMap">
          <result property="id" column="id"/>
         <result property="pic" column="pic"/>
        <result property="status" column="status"/>
        <result property="orderOn" column="order_on"/>
        <result property="actualPrice" column="actual_price"/>
        <result property="remark" column="remark"/>
        <result property="orderStatisticsId" column="order_statistics_id"/>
        <result property="payId" column="pay_id"></result>
        <result property="shopId" column="shop_id"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <resultMap type="com.clothes.modules.shop.entity.ShopEntity" id="shopMap">
        <result property="id" column="id"/>
        <result property="barCode" column="bar_code"/>
        <result property="categoryId" column="category_id"/>
        <result property="characteristic" column="characteristic"/>
        <result property="commission" column="commission"/>
        <result property="commissionType" column="commission_type"/>
        <result property="dateAdd" column="date_add"/>
        <result property="dateStart" column="date_start"/>
        <result property="dateUpdate" column="date_update"/>
        <result property="gotScore" column="got_score"/>
        <result property="gotScoreType" column="got_score_type"/>
        <result property="kanjia" column="kanjia"/>
        <result property="kanjiaPrice" column="kanjia_price"/>
        <result property="limitation" column="limitation"/>
        <result property="logisticsId" column="logistics_id"/>
        <result property="miaosha" column="miaosha"/>
        <result property="minPrice" column="min_price"/>
        <result property="minScore" column="min_score"/>
        <result property="name" column="name"/>
        <result property="numberFav" column="number_fav"/>
        <result property="numberGoodReputation" column="number_good_reputation"/>
        <result property="numberOrders" column="number_orders"/>
        <result property="numberSells" column="number_sells"/>
        <result property="originalPrice" column="original_price"/>
        <result property="paixu" column="paixu"/>
        <result property="pic" column="pic"/>
        <result property="pingtuan" column="pingtuan"/>
        <result property="pingtuanPrice" column="pingtuan_price"/>
        <result property="recommendStatus" column="recommend_status"/>
        <result property="recommendStatusStr" column="recommend_status_str"/>
        <result property="shopId" column="shop_id"/>
        <result property="status" column="status"/>
        <result property="statusStr" column="status_str"/>
        <result property="stores" column="stores"/>
        <result property="userId" column="user_id"/>
        <result property="videoId" column="video_id"/>
        <result property="views" column="views"/>
        <result property="weight" column="weight"/>
    </resultMap>

    <resultMap id="orderDetailMap" type="com.clothes.modules.order.entity.OrderDetailEntity">
        <result property="id" column="id"/>
        <result property="orderOn" column="order_on"/>
        <result property="linkMan" column="link_man"/>
        <result property="mobile" column="mobile"/>
        <result property="address" column="address"/>
        <result property="status" column="status"/>
        <result property="goodsPrice" column="goods_price"/>
        <result property="actualPrice" column="actual_price"/>
    </resultMap>

    <resultMap id="orderGoodsMap" type="com.clothes.modules.order.entity.OrderGoodsEntity" >
        <result property="id" column="id"/>
        <result property="number" column="number"/>
        <result property="name" column="name"/>
        <result property="minPrice" column="min_price"/>
        <result property="pic" column="pic"/>
    </resultMap>
    <select id="getOrderList" resultMap="orderMap">
        SELECT b.* FROM order_statistics a LEFT JOIN order_user b
        ON a.id = b.order_statistics_id WHERE a.open_id = #{openId} AND b.status = #{status}
    </select>

    <select id="getOrderGoods" resultMap="orderGoodsMap">
        SELECT c.pic,c.name,c.min_price,b.number
        FROM  order_user a
        LEFT  JOIN order_goods b ON a.id = b.order_id
        LEFT JOIN shop c ON b.shop_id = c.id
        WHERE a.id = #{id} AND a.open_id = #{openId}
    </select>


    <select id="getOrderDetail" resultMap="orderDetailMap">
        SELECT a.id,a.order_number,d.link_man,d.mobile,d.address,
        a.status,a.goods_price,a.actual_price
        FROM order_user a
        LEFT JOIN address d ON a.address_id = d.id
        WHERE a.id = #{id} AND a.open_id = #{openId}
    </select>

    <select id="getGoodsProductId" resultType="Integer">
        SELECT id FROM goods_specification
        WHERE 1 = 1
        <if test="goodsId != null">
            AND goods_id = #{goodsId}
        </if>
        <if test="specifications != null">
            AND specifications = #{specifications}
        </if>
    </select>

    <insert id="createOrder" parameterType="com.clothes.modules.order.entity.OrderEntity" useGeneratedKeys="true" >
        INSERT INTO order_user(status,order_number,remark,goods_price,open_id,address_id,actual_price,pay_id)
        VALUES (#{status},#{orderNumber},#{remark},#{goodsPrice},#{openId},#{addressId},#{actualPrice},#{payId})
    </insert>

    <insert id="createGoodsOrder" parameterType="com.clothes.modules.order.entity.OrderGoodsEntity">
        INSERT INTO order_goods(order_id,goods_id,number,specification)
        VALUES (#{orderId},#{goodsId},#{number},#{specification})
    </insert>

</mapper>
